.vs/
/bin
**/bin/Release/
**/obj
.vs
SmartHouse/bin/
SmartHouse/.vs/
DataAccess/obj/
Common/obj/
AppDomain/obj/
SmartHouse/Logs/
*/obj/
SmartHouse/obj/
SmartHouse/obj/*
SmartHouse/obj/
AppServices/bin/Debug/netcoreapp3.0/AppServices.dll
AppServices/bin/Debug/netcoreapp3.0/AppServices.pdb
AppServices/obj/AppServices.csproj.nuget.cache
AppServices/obj/AppServices.csproj.nuget.dgspec.json
AppServices/obj/AppServices.csproj.nuget.g.props
AppServices/obj/Debug/netcoreapp3.0/AppServices.assets.cache
AppServices/obj/Debug/netcoreapp3.0/AppServices.csproj.FileListAbsolute.txt
AppServices/obj/Debug/netcoreapp3.0/AppServices.csprojAssemblyReference.cache
AppServices/obj/Debug/netcoreapp3.0/AppServices.dll
AppServices/obj/Debug/netcoreapp3.0/AppServices.pdb
AppServices/obj/project.assets.json
Common/bin/Debug/netcoreapp3.0/Common.dll
Common/bin/Debug/netcoreapp3.0/Common.pdb
Common/obj/Common.csproj.nuget.cache
Common/obj/Common.csproj.nuget.dgspec.json
Common/obj/Common.csproj.nuget.g.props
Common/obj/Debug/netcoreapp3.0/Common.assets.cache
Common/obj/Debug/netcoreapp3.0/Common.csproj.FileListAbsolute.txt
Common/obj/Debug/netcoreapp3.0/Common.csprojAssemblyReference.cache
Common/obj/Debug/netcoreapp3.0/Common.dll
Common/obj/Debug/netcoreapp3.0/Common.pdb
Common/obj/project.assets.json
DataAccess/bin/Debug/netcoreapp3.0/Common.dll
DataAccess/bin/Debug/netcoreapp3.0/Common.pdb
DataAccess/bin/Debug/netcoreapp3.0/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.0/DataAccess.pdb
DataAccess/bin/Debug/netcoreapp3.0/DataAccess.runtimeconfig.dev.json
DataAccess/obj/DataAccess.csproj.nuget.cache
DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
DataAccess/obj/DataAccess.csproj.nuget.g.props
DataAccess/obj/Debug/netcoreapp3.0/DataAccess.assets.cache
DataAccess/obj/Debug/netcoreapp3.0/DataAccess.csproj.FileListAbsolute.txt
DataAccess/obj/Debug/netcoreapp3.0/DataAccess.csprojAssemblyReference.cache
DataAccess/obj/Debug/netcoreapp3.0/DataAccess.dll
DataAccess/obj/Debug/netcoreapp3.0/DataAccess.pdb
DataAccess/obj/project.assets.json
Logging/bin/Debug/netcoreapp3.0/Logging.dll
Logging/bin/Debug/netcoreapp3.0/Logging.pdb
Logging/obj/Debug/netcoreapp3.0/Logging.assets.cache
Logging/obj/Debug/netcoreapp3.0/Logging.csproj.FileListAbsolute.txt
Logging/obj/Debug/netcoreapp3.0/Logging.csprojAssemblyReference.cache
Logging/obj/Debug/netcoreapp3.0/Logging.dll
Logging/obj/Debug/netcoreapp3.0/Logging.pdb
Logging/obj/Logging.csproj.nuget.cache
Logging/obj/Logging.csproj.nuget.dgspec.json
Logging/obj/Logging.csproj.nuget.g.props
Logging/obj/project.assets.json
SmartHouse/.vs/SmartHouse/config/applicationhost.config
SmartHouse/.vs/SmartHouse/v16/.suo
SmartHouse/.vs/SmartHouse/v16/Server/sqlite3/storage.ide-shm
SmartHouse/.vs/SmartHouse/v16/Server/sqlite3/storage.ide-wal
SmartHouse/bin/Debug/netcoreapp3.0/AppServices.dll
SmartHouse/bin/Debug/netcoreapp3.0/AppServices.pdb
SmartHouse/bin/Debug/netcoreapp3.0/Common.dll
SmartHouse/bin/Debug/netcoreapp3.0/Common.pdb
SmartHouse/bin/Debug/netcoreapp3.0/DataAccess.dll
SmartHouse/bin/Debug/netcoreapp3.0/DataAccess.pdb
SmartHouse/bin/Debug/netcoreapp3.0/Logging.dll
SmartHouse/bin/Debug/netcoreapp3.0/Logging.pdb
SmartHouse/bin/Debug/netcoreapp3.0/SmartHouse.StaticWebAssets.xml
SmartHouse/bin/Debug/netcoreapp3.0/SmartHouse.Views.dll
SmartHouse/bin/Debug/netcoreapp3.0/SmartHouse.Views.pdb
SmartHouse/bin/Debug/netcoreapp3.0/SmartHouse.dll
SmartHouse/bin/Debug/netcoreapp3.0/SmartHouse.exe
SmartHouse/bin/Debug/netcoreapp3.0/SmartHouse.pdb
SmartHouse/bin/Debug/netcoreapp3.0/SmartHouse.runtimeconfig.dev.json
SmartHouse/obj/Debug/netcoreapp3.0/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
SmartHouse/obj/Debug/netcoreapp3.0/Razor/Views/Home/Index.cshtml.g.cs
SmartHouse/obj/Debug/netcoreapp3.0/Razor/Views/Home/Privacy.cshtml.g.cs
SmartHouse/obj/Debug/netcoreapp3.0/Razor/Views/Shared/Error.cshtml.g.cs
SmartHouse/obj/Debug/netcoreapp3.0/Razor/Views/Shared/_Layout.cshtml.g.cs
SmartHouse/obj/Debug/netcoreapp3.0/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
SmartHouse/obj/Debug/netcoreapp3.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
SmartHouse/obj/Debug/netcoreapp3.0/Razor/Views/_ViewImports.cshtml.g.cs
SmartHouse/obj/Debug/netcoreapp3.0/Razor/Views/_ViewStart.cshtml.g.cs
SmartHouse/obj/Debug/netcoreapp3.0/SmartHouse.Views.dll
SmartHouse/obj/Debug/netcoreapp3.0/SmartHouse.Views.pdb
SmartHouse/obj/Debug/netcoreapp3.0/SmartHouse.assets.cache
SmartHouse/obj/Debug/netcoreapp3.0/SmartHouse.csproj.FileListAbsolute.txt
SmartHouse/obj/Debug/netcoreapp3.0/SmartHouse.csprojAssemblyReference.cache
SmartHouse/obj/Debug/netcoreapp3.0/SmartHouse.dll
SmartHouse/obj/Debug/netcoreapp3.0/SmartHouse.exe
SmartHouse/obj/Debug/netcoreapp3.0/SmartHouse.pdb
SmartHouse/obj/Debug/netcoreapp3.0/staticwebassets/SmartHouse.StaticWebAssets.Manifest.cache
SmartHouse/obj/Debug/netcoreapp3.0/staticwebassets/SmartHouse.StaticWebAssets.xml
SmartHouse/obj/SmartHouse.csproj.nuget.cache
SmartHouse/obj/SmartHouse.csproj.nuget.dgspec.json
SmartHouse/obj/SmartHouse.csproj.nuget.g.props
SmartHouse/obj/project.assets.json
