dist/*
node_modules/*
_ReSharper.*
*.ReSharper.*
bin
obj
.vs
*.suo
*.csproj.user
*.rptproj.user
*.DotSettings.user
*.Publish.xml
Logs
*.css.css
_ReleasePackage/*
_Published
SyncPackages/*
_Release/*
_TestServer/*

db.config
paths.config

packages
!/packages/repositories.config

*.log

appSettings.config
wbservice.config
etms.sitemap
connectionStrings.config

*.pubxml
*.pubxml.user
Reports/temp/*

DalGen/CSFiles/*
DalGen/StoredProcedures/*

Web/Attachments/*
Web/ExternalReports/*

letms-super.pdb
letms-super.pdb.sign

BuildArtifacts/
!Deployment/**/*

jobs.xml